In [ ]:
import webbrowser
import tweepy
import csv
import pandas as pd
import datetime

In [ ]:
consumer_key='jd36bYcExtgJcyJ2op6t9VxOw'
consumer_secret='hzwvkOMEUQHjMQgZZUsyYFo8GLxBCbZJTcDjy9Y4v7h2IXztoj'

In [ ]:
callback_uri='oob'
auth=tweepy.OAuthHandler(consumer_key,consumer_secret,callback_uri)
redirect_url=auth.get_authorization_url()
print(redirect_url)

https://api.twitter.com/oauth/authorize?oauth_token=sZqMUAAAAAABdMrqAAABgfKtmro

In [ ]:
user_pin_input=input("Enter the pin value:")

Enter the pin value:1163171

In [ ]:
auth.get_access_token(user_pin_input)

('1517142451344924675-YwwpNlh2prcAaKzlYjG69EarKQJ8tY',
 'CvvETdJvcJqv2epjX9TIrIkwjHm0LHkZxM0gyNyky3SlG')

In [ ]:
api=tweepy.API(auth)
user=api.get_user('microsoft')

In [ ]:
cursor=tweepy.Cursor(api.user_timeline,id='microsoft',tweet_mode='extended').items(200)

In [ ]:
csv_columns=['Date_Time','User','Author','Tweet_text','Likes','Retweets']
with open('microsoft_tweets.csv','w') as file1:
  writer=csv.DictWriter(file1,fieldnames=csv_columns)
  writer.writeheader()
  for i in cursor:
    if(str(i.created_at)>='2022-07-02' and str(i.created_at)<='2022-07-09'):
      t={'Date_Time':i.created_at,'User':i.user.screen_name,'Author':i.author.screen_name,'Tweet_text':i.full_text,'Likes':i.favorite_count,'Retweets':i.retweet_count}
      writer.writerow(t)

In [ ]:
f=pd.read_csv('microsoft_tweets.csv')
     #to print the entire dataframe

In [ ]:
f

,Date_Time,User,Author,Tweet_text,Likes,Retweets
0,2022-07-08 23:00:14,Microsoft,Microsoft,ADLaM: The ‚Äúalphabet that protects the people ...,133,19
1,2022-07-08 21:30:01,Microsoft,Microsoft,New AI-powered filters give you the option to ...,90,13
2,2022-07-08 21:30:00,Microsoft,Microsoft,Brightness and focus filters in Microsoft Team...,263,21
3,2022-07-08 21:28:27,Microsoft,Microsoft,@keymw_ Not a vibe. ü•±,2,1
4,2022-07-08 21:27:50,Microsoft,Microsoft,@Dbabyshea LOL,1,0
...,...,...,...,...,...,...
61,2022-07-06 18:00:03,Microsoft,Microsoft,1992 Excellence. https://t.co/iNMTcrgJ1u,1161,109
62,2022-07-06 16:31:33,Microsoft,Microsoft,Theresa Nguyen from @MentalHealthAm knows firs...,147,19
63,2022-07-05 22:45:01,Microsoft,Microsoft,"Online orders should take seconds, not hours. ...",195,22
64,2022-07-05 20:02:15,Microsoft,Microsoft,"RT @Xbox: At Xbox, we believe in fostering pos...",0,329
65,2022-07-05 16:52:21,Microsoft,Microsoft,Miles and Malik have unique approaches to rese...,167,28

In [ ]:
user2=api.get_user('meta')
cursor2=tweepy.Cursor(api.user_timeline,id='meta',tweet_mode='extended').items(200)

In [ ]:
csv_columns=['Date_Time','User','Author','Tweet_text','Likes','Retweets']
with open('meta_tweets.csv','w') as file1:
  writer=csv.DictWriter(file1,fieldnames=csv_columns)
  writer.writeheader()
  for i in cursor2:
    if(str(i.created_at)>='2022-07-02' and str(i.created_at)<='2022-07-09'):
      t={'Date_Time':i.created_at,'User':i.user.screen_name,'Author':i.author.screen_name,'Tweet_text':i.full_text,'Likes':i.favorite_count,'Retweets':i.retweet_count}
      writer.writerow(t)

In [ ]:
f1=pd.read_csv('meta_tweets.csv')
f1

,Date_Time,User,Author,Tweet_text,Likes,Retweets
0,2022-07-08 21:21:19,Meta,Meta,@ALkhaterSalah Arabic is one of the languages ...,1,0
1,2022-07-08 17:45:41,Meta,Meta,@sricharan10g We're honored to help bring even...,3,0
2,2022-07-08 16:02:15,Meta,Meta,Our new AI model can translate 200 languages w...,335,59
3,2022-07-07 18:54:58,Meta,Meta,@ISHANIDASH8 Your talent is on another level üëè...,7,0
4,2022-07-07 15:32:47,Meta,Meta,"@blevlabs Hi there, Brayden. You can find supp...",0,0
5,2022-07-06 15:42:58,Meta,Meta,@Vtabvxp Let's makes the world wider!,2,0
6,2022-07-06 13:11:17,Meta,Meta,@star95011 We can't wait to take you there!,5,3
7,2022-07-06 13:10:31,Meta,Meta,@01CAPITAL01 We like the way you think!,0,0
8,2022-07-05 21:18:50,Meta,Meta,"When virtual and physical worlds collide, anyt...",575,105

In [ ]:
user3=api.get_user('Google')
cursor3=tweepy.Cursor(api.user_timeline,id='Google',tweet_mode='extended').items(1200)

In [ ]:
csv_columns=['Date_Time','User','Author','Tweet_text','Likes','Retweets']
with open('google_tweets.csv','w') as file1:
  writer=csv.DictWriter(file1,fieldnames=csv_columns)
  writer.writeheader()
  for i in cursor3:
    if(str(i.created_at)>='2022-07-02' and str(i.created_at)<='2022-07-09'):
      t={'Date_Time':i.created_at,'User':i.user.screen_name,'Author':i.author.screen_name,'Tweet_text':i.full_text,'Likes':i.favorite_count,'Retweets':i.retweet_count}
      writer.writerow(t)

In [ ]:
f3=pd.read_csv('google_tweets.csv')
f3

,Date_Time,User,Author,Tweet_text,Likes,Retweets
0,2022-07-08 22:33:58,Google,Google,"@1Direction261 Thanks, Kiron. Appreciate you t...",6,1
1,2022-07-08 20:48:08,Google,Google,"@anujgadre Hi, Anuj. Thanks for the suggestion...",1,0
2,2022-07-08 18:42:03,Google,Google,@IssacEinstein89 Hi there. Learn more on how t...,1,0
3,2022-07-08 17:56:18,Google,Google,@ShaikEe89394035 Hi there. Check out this guid...,1,0
4,2022-07-08 17:29:38,Google,Google,"@Bower_Morry Hi, Morry, thanks for reaching ou...",1,0
...,...,...,...,...,...,...
420,2022-07-04 07:12:13,Google,Google,@bliroze Hi there. We suggest contacting the a...,0,0
421,2022-07-04 07:11:11,Google,Google,@Arun86127390 Hi Arun. Let's see what we can d...,0,0
422,2022-07-04 06:02:49,Google,Google,@Aravind_si Hi Aravind. Are you getting a spec...,0,0
423,2022-07-03 10:30:53,Google,Google,@untitledsloth Hi there. Please check your int...,1,1
424,2022-07-02 07:23:31,Google,Google,"@jpawaninder Hi, Pawaninder. For your privacy,...",4,1

In [ ]:
user4=api.get_user('Tesla')
cursor4=tweepy.Cursor(api.user_timeline,id='Tesla',tweet_mode='extended').items(200)

In [ ]:
csv_columns=['Date_Time','User','Author','Tweet_text','Likes','Retweets']
with open('tesla_tweets.csv','w') as file1:
  writer=csv.DictWriter(file1,fieldnames=csv_columns)
  writer.writeheader()
  for i in cursor4:
    if(str(i.created_at)>='2022-07-02' and str(i.created_at)<='2022-07-09'):
      t={'Date_Time':i.created_at,'User':i.user.screen_name,'Author':i.author.screen_name,'Tweet_text':i.full_text,'Likes':i.favorite_count,'Retweets':i.retweet_count}
      writer.writerow(t)

In [ ]:
f4=pd.read_csv('tesla_tweets.csv')
f4

,Date_Time,User,Author,Tweet_text,Likes,Retweets
0,2022-07-07 13:34:41,Tesla,Tesla,Tesla now operates 800 Supercharger locations ...,4353,386
1,2022-07-06 15:00:05,Tesla,Tesla,"Each shareholder has a say in our direction, i...",3090,290
2,2022-07-06 15:00:05,Tesla,Tesla,Vote at the 2022 Tesla Shareholder Meeting htt...,3742,394

In [ ]:
user5=api.get_user('Flipkart')
cursor5=tweepy.Cursor(api.user_timeline,id='Flipkart',tweet_mode='extended').items(200)

In [ ]:
csv_columns=['Date_Time','User','Author','Tweet_text','Likes','Retweets']
with open('flipkart_tweets.csv','w') as file1:
  writer=csv.DictWriter(file1,fieldnames=csv_columns)
  writer.writeheader()
  for i in cursor5:
    if(str(i.created_at)>='2022-07-02' and str(i.created_at)<='2022-07-09'):
      t={'Date_Time':i.created_at,'User':i.user.screen_name,'Author':i.author.screen_name,'Tweet_text':i.full_text,'Likes':i.favorite_count,'Retweets':i.retweet_count}
      writer.writerow(t)

In [ ]:
f5=pd.read_csv('flipkart_tweets.csv')
f5

,Date_Time,User,Author,Tweet_text,Likes,Retweets
0,2022-07-08 14:39:00,Flipkart,Flipkart,@Dharanidharan59 now it's time to click on buy...,4,3
1,2022-07-08 12:39:27,Flipkart,Flipkart,"RT @FlipkartStories: Since 2019, @Flipkart‚Äôs K...",0,36
2,2022-07-08 10:59:58,Flipkart,Flipkart,It took only 8 years 7 months 6 days give or t...,116,13
3,2022-07-08 06:30:00,Flipkart,Flipkart,"It's the moving day y'all ü´µ\nyes, time to move...",85,11
4,2022-07-07 14:30:02,Flipkart,Flipkart,"dil sambhal ja zara, fir shopping karne chala ...",221,18
5,2022-07-07 12:10:02,Flipkart,Flipkart,@mybajajcapital Aha good one ü§å,1,0
6,2022-07-07 07:53:58,Flipkart,Flipkart,Mahi's stumping Me during a flash ...,88,13
7,2022-07-06 06:30:01,Flipkart,Flipkart,À°·µí·µõ·µâ À°·µí·µõ·µâ À°...,284,26
8,2022-07-05 14:30:00,Flipkart,Flipkart,impulsive buyer bf ü§ù over analyzing everything...,82,10
9,2022-07-05 08:48:06,Flipkart,Flipkart,@VandeBharat_ 89*,2,0
10,2022-07-05 08:47:43,Flipkart,Flipkart,@sudhir_vaishnav what is this reverse uno move...,3,0
11,2022-07-05 08:46:19,Flipkart,Flipkart,@Dharanidharan59 hope they actually react like...,3,0
12,2022-07-05 08:45:53,Flipkart,Flipkart,@itssusmitaaa_ honest reaction üò©ü§å,1,0
13,2022-07-05 07:01:40,Flipkart,Flipkart,RT @DIZOTech: Always in a bad mood because you...,0,22
14,2022-07-05 06:30:00,Flipkart,Flipkart,your battery percentage is the amount of thing...,134,17
15,2022-07-04 14:30:00,Flipkart,Flipkart,your 5th emoji is how your parents would react...,141,8
16,2022-07-04 14:11:37,Flipkart,Flipkart,@thefreeskoutapp yeh kaisi duvidha hai üòîü§å,1,0
17,2022-07-04 06:30:01,Flipkart,Flipkart,"They don‚Äôt read reviews before ordering, is it...",116,13
18,2022-07-03 14:45:02,Flipkart,Flipkart,"RT @0xFiredrops: Firedrops, but a wrong answer...",0,15
19,2022-07-03 14:30:02,Flipkart,Flipkart,"Nothing, just doing some window shopping https...",121,9
20,2022-07-03 09:52:31,Flipkart,Flipkart,@0xFiredrops Gm! üî•\nAre we talking about the w...,3,0
21,2022-07-03 07:41:45,Flipkart,Flipkart,@AnshBehre this is exactly how it is üò©ü§å,1,0
22,2022-07-03 06:30:00,Flipkart,Flipkart,tell us you're an impulsive shopper without te...,83,8
23,2022-07-02 14:36:35,Flipkart,Flipkart,Which one are you?,74,16
24,2022-07-02 09:30:00,Flipkart,Flipkart,"ordered my favourite product, now what? ü•≤",171,10
25,2022-07-02 08:04:08,Flipkart,Flipkart,RT @whirlpool_india: Drumrolls please ü•Å\n#Whir...,0,5
26,2022-07-02 06:30:01,Flipkart,Flipkart,normalise üëè weekend üëè splurging üëè,84,3

In [ ]:
user6=api.get_user('Zomato')
cursor6=tweepy.Cursor(api.user_timeline,id='Zomato',tweet_mode='extended').items(800)

In [ ]:
csv_columns=['Date_Time','User','Author','Tweet_text','Likes','Retweets']
with open('zomato_tweets.csv','w') as file1:
  writer=csv.DictWriter(file1,fieldnames=csv_columns)
  writer.writeheader()
  for i in cursor6:
    if(str(i.created_at)>='2022-07-02' and str(i.created_at)<='2022-07-09'):
      t={'Date_Time':i.created_at,'User':i.user.screen_name,'Author':i.author.screen_name,'Tweet_text':i.full_text,'Likes':i.favorite_count,'Retweets':i.retweet_count}
      writer.writerow(t)

In [ ]:
f6=pd.read_csv('zomato_tweets.csv')
f6

,Date_Time,User,Author,Tweet_text,Likes,Retweets
0,2022-07-07 05:00:57,zomato,zomato,you delivered indian cricket to new heights ev...,5104,852
1,2022-07-06 16:57:44,zomato,zomato,aaj kya khaya?,1043,47
2,2022-07-04 05:10:40,zomato,zomato,coffee helps you work.\nchai helps you think.,1461,116

In [ ]:
user7=api.get_user('Paytm')
cursor7=tweepy.Cursor(api.user_timeline,id='Paytm',tweet_mode='extended').items(800)

In [ ]:
csv_columns=['Date_Time','User','Author','Tweet_text','Likes','Retweets']
with open('paytm_tweets.csv','w') as file1:
  writer=csv.DictWriter(file1,fieldnames=csv_columns)
  writer.writeheader()
  for i in cursor7:
    if(str(i.created_at)>='2022-07-02' and str(i.created_at)<='2022-07-09'):
      t={'Date_Time':i.created_at,'User':i.user.screen_name,'Author':i.author.screen_name,'Tweet_text':i.full_text,'Likes':i.favorite_count,'Retweets':i.retweet_count}
      writer.writerow(t)

In [ ]:
f7=pd.read_csv('paytm_tweets.csv')
f7

,Date_Time,User,Author,Tweet_text,Likes,Retweets
0,2022-07-08 12:30:32,Paytm,Paytm,"@naveensingroha_ Hi, we are at your service to...",0,0
1,2022-07-08 04:27:12,Paytm,Paytm,"Parivar, rishtedar aur Paytm!\n\nNow receive p...",31,3
2,2022-07-07 17:32:19,Paytm,Paytm,@pawansingh523 So sorry! Can we please have yo...,1,0
3,2022-07-07 10:45:23,Paytm,Paytm,"@thinkbigofficil Hi, helping you out is our pr...",0,0
4,2022-07-07 05:51:03,Paytm,Paytm,Smart &amp; easy way to pay fees! Simply enter...,34,2
5,2022-07-06 12:34:21,Paytm,Paytm,Just enter mobile number &amp; make secure pay...,42,2
6,2022-07-06 04:44:50,Paytm,Paytm,"Far by the distance, close by heart. ü´Ç\n\nSend...",34,0
7,2022-07-05 12:20:16,Paytm,Paytm,"@Saurabh31008091 Hi, we have replied you via D...",0,0
8,2022-07-05 06:06:55,Paytm,Paytm,No leaks here.üòå\n\nSimply enter the mobile num...,50,4
9,2022-07-04 12:27:31,Paytm,Paytm,"@AnnuAnna5 Hi, helping you out is our priority...",0,0
10,2022-07-04 12:01:22,Paytm,Paytm,ùëπùíÜ-ùíçùíÜùíÇùíîùíÜ all your rent woes. Pay house rent in...,31,4
11,2022-07-04 10:45:45,Paytm,Paytm,"@Riseup16242151 Hi there, our team is in touch...",0,0
12,2022-07-04 10:15:50,Paytm,Paytm,@manthan_2944 Thanks for the details. We're in...,0,0
13,2022-07-04 09:43:35,Paytm,Paytm,"@DevajiDas Hi Devanand, we'd like to look into...",0,0
14,2022-07-04 09:37:22,Paytm,Paytm,"@manthan_2944 Hi Bhardwaj, sorry to know about...",0,0
15,2022-07-04 05:57:58,Paytm,Paytm,Coolest way to send money. Simply enter mobile...,37,5
16,2022-07-03 12:55:55,Paytm,Paytm,"Friends, family or rishtedaar. \n\nAll you nee...",51,4
17,2022-07-03 07:42:11,Paytm,Paytm,@SandipanTm @realmecareIN @realmeIndia @GyanTh...,1,0
18,2022-07-03 07:41:34,Paytm,Paytm,"@Aswinbolt Hi,\n\nPaytm is a completely safe a...",1,0
19,2022-07-03 07:41:17,Paytm,Paytm,"@SanjeevPal_ Hi,\n\nPaytm is a completely safe...",0,0
20,2022-07-03 07:40:19,Paytm,Paytm,"@Jitendraqa Hi,\n\nPaytm is a completely safe ...",0,0
21,2022-07-03 07:39:04,Paytm,Paytm,"@hrao2502 @GyanTherapy @Paytmcare Hi,\n\nPaytm...",1,0
22,2022-07-03 07:38:27,Paytm,Paytm,@Ajay30007 @Paytmcare @PaytmCybercell @RBI @cy...,0,0
23,2022-07-03 07:36:15,Paytm,Paytm,"@kapilrajoria_ Hi,\n\nPaytm is a completely sa...",1,0
24,2022-07-02 14:17:55,Paytm,Paytm,Don't let distance stop you!\n\nSend money dir...,39,1
25,2022-07-02 05:34:12,Paytm,Paytm,Simply enter mobile number and send money to a...,42,2

In [ ]:
user8=api.get_user('Byjus')
cursor8=tweepy.Cursor(api.user_timeline,id='Byjus',tweet_mode='extended').items(800)

In [ ]:
csv_columns=['Date_Time','User','Author','Tweet_text','Likes','Retweets']
with open('byjus_tweets.csv','w') as file1:
  writer=csv.DictWriter(file1,fieldnames=csv_columns)
  writer.writeheader()
  for i in cursor8:
    if(str(i.created_at)>='2022-07-02' and str(i.created_at)<='2022-07-09'):
      t={'Date_Time':i.created_at,'User':i.user.screen_name,'Author':i.author.screen_name,'Tweet_text':i.full_text,'Likes':i.favorite_count,'Retweets':i.retweet_count}
      writer.writerow(t)

In [ ]:
f8=pd.read_csv('byjus_tweets.csv')
f8

,Date_Time,User,Author,Tweet_text,Likes,Retweets
0,2022-07-08 11:18:17,BYJUS,BYJUS,"Make a study timetable, practice old papers, o...",397,155
1,2022-07-08 04:49:42,BYJUS,BYJUS,"Apne baccho ke regular revision se lekar, expe...",882,512
2,2022-07-07 16:36:40,BYJUS,BYJUS,"Apne saare sawal, prashna, problems aur doubts...",1023,631
3,2022-07-07 11:04:03,BYJUS,BYJUS,https://t.co/n7eUvSaoFb,5,1
4,2022-07-07 11:04:01,BYJUS,BYJUS,Its #WorldChocolateDay today! üç´\n\n#DidYouKnow...,6,0
5,2022-07-06 05:48:34,BYJUS,BYJUS,"In this week's #WhatIfWednesdays, we ask you #...",1,1
6,2022-07-05 04:34:54,BYJUS,BYJUS,Think you know the answer to this problem? üßê \...,17,3
7,2022-07-04 06:04:21,BYJUS,BYJUS,"Together, let's make learning accessible, fun,...",22,3
8,2022-07-03 06:40:32,BYJUS,BYJUS,"Plastic waste can be found everywhere, yet onl...",8,1